*{margin: 0;
padding: 0;
font-family:  'Poppins', sans-serif;
box-sizing: border-box;
}

.flex { display: flex;
    align-items: center;}

.grid {display: grid;}

/* TOP BANNER */

.Top_Banner {
height: 50px;
color: white;
background-color: rgb(16, 26, 43);
justify-content: center;
align-items: center;
}

/* NAVIGATION BAR */

.Navigation_Bar {
    border: 1px solid rgb(16, 26, 43);
    padding: 0 10%;}

.Buttons { 
height: 50px;
flex-flow: wrap row;
width: 50%;
}

ul{list-style: none;
height: 50px;
width: 100%;
justify-content: space-around;}

a{color: rgb(16, 46, 98);}

a:hover { color: rgb(130, 174, 255);}

.logo {color: rgb(8, 26, 58);
    width: 50%;}

/* HERO SECTION */

.Hero_Section { justify-content: space-between;
padding: 0 10%;
background-color: rgb(4, 18, 42);
color: white;
height: 85vh;
background-image: url(https://images.unsplash.com/photo-1635336969198-ec9553adc0e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
background-repeat: no-repeat;
background-size: 100% 100%;}

.Text_content { width: 50%;}

.Main_Head {font-size: 75px;}

.Side_Pic { width:50%}

/* BELOW BAR */

.Black_Space {height:50px;
width: 100%;
background-color: rgb(1, 9, 22);
padding: 0 10%;
justify-content:space-between;
align-content: center;
color: white;}

.Crypto {height:50%;}

/* GALLER WINDOW */

.Gallery { justify-content:space-evenly;
padding: 0 10%;
height: 100vh;
background: linear-gradient(to right,#02112b, #AE2A41);
gap: 20px;
}

#Second_Page_Text {font-size: 50px;
text-shadow: 5px 5px 4px black;}

#Second_Para{text-shadow: 2.5px 2.5px 4px black;}

.Text{
    flex-basis: 40%;
    color: white;
    text-align: left;
}

.images{
    flex-basis: 60%;
    gap: 5px;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    cursor: pointer;
    box-shadow: 0 0px 4px black;
}

.box{background-size: cover;
background-position: top;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
background-blend-mode:difference;
border-radius: 2.5px;
transition: all 1s ease-in-out;}

.col_2{grid-column: span 2;}

.row_2{grid-row: span 2;}

.box:hover{background-position:center;
box-shadow: 0 0 4px white;}
