*{margin: 0;
padding: 0;
font-family:  'Poppins', sans-serif;
box-sizing: border-box;
}

.flex { display: flex;
    align-items: center;}

.grid {display: grid;}

/* TOP BANNER */

.Top_Banner {
height: 50px;
color: white;
background-color: rgb(16, 26, 43);
justify-content: center;
align-items: center;
}

/* NAVIGATION BAR */

.Navigation_Bar {
    border: 1px solid rgb(16, 26, 43);
    padding: 0 10%;}

.Buttons { 
height: 50px;
flex-flow: wrap row;
width: 50%;
}

ul{list-style: none;
height: 50px;
width: 100%;
justify-content: space-around;}

a{color: rgb(16, 46, 98);}

a:hover { color: rgb(130, 174, 255);}

.logo {color: rgb(8, 26, 58);
    width: 50%;}

/* HERO SECTION */

.Hero_Section { justify-content: space-between;
padding: 0 10%;
background-color: rgb(4, 18, 42);
color: white;
height: 85vh;
background-image: url(https://images.unsplash.com/photo-1635336969198-ec9553adc0e1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80);
background-repeat: no-repeat;
background-size: 100% 100%;}

.Text_content { width: 50%;}

.Main_Head {font-size: 75px;}

.Side_Pic { width:50%}

/* BELOW BAR */

.Black_Space {height:50px;
width: 100%;
background-color: rgb(1, 9, 22);
padding: 0 10%;
justify-content:space-between;
align-content: center;
color: white;}

.Crypto {height:50%;}

/* GALLERY WINDOW */

.Gallery { justify-content:space-evenly;
padding: 0 10%;
height: 100vh;
/* background: linear-gradient(to left,#02112b, #AE2A41); */
background: linear-gradient(#AE2A41,#02112b);
gap: 20px;
}

#Second_Page_Text {font-size: 50px;
/* text-shadow: 5px 5px 4px black; */
}

.Text{
    flex-basis: 40%;
    color: white;
    text-align: left;
}

.images{
    flex-basis: 60%;
    gap: 5px;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    cursor: pointer;
    /* box-shadow: 0 0px 4px black; */
}

.box{background-size: cover;
background-position: top;
display: flex;
justify-content: center;
align-items: center;
background-color: black;
background-blend-mode:difference;
border-radius: 2.5px;
transition: all 1s ease-in-out;}

.col_2{grid-column: span 2;}

.row_2{grid-row: span 2;}

.box:hover{background-position:center;
box-shadow: 0 0 4px white;}

/* ABOUT ME PAGE */

.About_me{height: 25vh;
background-color: #010916;
padding:2.2% 10%;
text-align:center;
color: white;
justify-content: center;
align-content: center;
border: 1px solid white;
}

.About_Text{font-size: 50px;}
.About_Body{font-size: 15px;
padding:0 0;}

/* FOOTER */

.footer{height: 25vh;
background-color: #010916;
color: white;
padding: 2% 10%;
justify-content: center;
}

.Connect_me {font-size: 30px;
justify-content: center;
}

.Contact{height: 75px;
padding: 20%;}


.container{padding: 0 35%;
justify-content: space-between;}

html{scroll-behavior: smooth;}



@media screen and (max-width:640px) {

    /* TOP BANNER */
    .Top_Banner{
        height: 35px;
        font-size: 10px;}
       


    /* NAVBAR */
    .Navigation_Bar{display: none;}

    /* HERO SECTION */

    .Hero_Section{height: 50vh;}
    
    .Text_content { width: 100%;}

    .Main_Head {font-size: 35px;
    text-align: center;}

    .Main_Body_Text{text-align: center;
    font-size: 8px;}
    
    .Side_Pic { width:0}



/* BLACK SPACE */

.Black_Space {
    display: none;
    /* height:25px;
    font-size: 10px; */
}

/* GALLER WINDOW */

.Gallery{flex-direction: column;
height: 50vh;}

.Text{text-align: center;
    flex-basis: 25%;
    align-content: center;
    height: 10vh;
    padding: 20px 0px 0 0px;
}


#Second_Page_Text{font-size: 30px;}

#Second_Para{font-size:7px;}

.images{
    flex-basis: 70%;
    width:100%;
    gap: 2px;
    color: white;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows:50px;}

.box{font-size: 7px;
text-align: center;}

/* ABOUT ME PAGE */
.About_me{height: 15vh;
padding: 3%;}
.About_Text{font-size:20px;
padding: 5px 0;}
.About_Body{font-size: 6px;
padding: 0 5%;}

/* FOOTER */

.footer{height: 10vh;
    padding: 1% 5%;
    }
    
    .Connect_me {font-size: 10px;
    padding: 1%;}
    
    .Contact{height: 15px;
    padding:10%;}
    
    
    .container{padding: 0 30%;}


}
